.ml-container {
  width: 60%;
  height: calc(100% - 54px - 24px);

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px 0px;
  overflow: auto;

  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Internet Explorer and Legacy Edge */
  -ms-overflow-style: none;
}