.msg-container {
  width: 100%;
  display: flex;

  .msg-wrapper {
    max-width: 90%;
    padding: 12px 16px;
    background: #212121;
    border-radius: 24px;
  }
}

.msg-user {
  justify-content: flex-end;
}

.msg-assistant {
  justify-content: flex-start;
}

/* Pulsing effect for the thinking state */
.thinking {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}